@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix inline code rendering inside .prose */
.prose code::before,
.prose code::after {
    content: none !important;
}

/* Optional: Style inline code better */
.prose code {
    background-color: #22252b;
    /* Tailwind's slate-800 */
    color: rgb(194, 203, 223);
    /* Tailwind's blue-300 */
    padding: 0.2em 0.4em;
    border-radius: 0.25rem;
    font-size: 0.875em;
}

@keyframes sweep {
    0% {
        background-position: 200% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.bg-correct-sweep {
    /* background-image: linear-gradient(to right, #0d1117, #228848); */
    /* background-image: linear-gradient(to right, #0d1117, #2951a9); */
    /* background-image: linear-gradient(to right, #0d1117, #1f3d7d); Nice Blue color*/
    background-image: linear-gradient(to right, #0d1117, #22c55e);

    background-size: 200% 100%;
    background-position: 0% 100%;
    animation: sweep 1s ease-out forwards;
}


@keyframes pulse-error {
    0% {
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0);
    }

    50% {
        box-shadow: inset 0 0 50px rgba(255, 0, 0, 0.9);
    }

    100% {
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0);
    }
}

.bg-error-gradient {
    animation: pulse-error 0.6s ease-out;
}


@keyframes pulse-correct {
    0% {
        box-shadow: inset 0 0 0 rgba(255, 0, 0, 0);
    }

    50% {
        box-shadow: inset 0 0 40px#12cb56;
    }


    100% {
        box-shadow: inset 0 0 25px#12cb56;
    }
}

.bg-correct-gradient {
    animation: pulse-correct 0.6s forwards;
}